#PY
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

#AMBIENTE
venv/
.env/
.env

#AIR
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/*.cfg

#DATA
src/data/raw/
src/data/silver/
src/data/gold/
*.csv
*.json
*.parquet

#DOCKER
docker-data/
*.env

#IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#NOTEBOOKS
.ipynb_checkpoints/

#LOGS
logs/
*.log

#BUILD
dist/
build/
*.egg-info/